swagger: '2.0'
info:
  title: GitLab API
  version: v4
host: gitlab.com
produces:
  - application/json
securityDefinitions:
  access_token_header:
    type: apiKey
    name: PRIVATE-TOKEN
    in: header
  access_token_query:
    type: apiKey
    name: private_token
    in: query
paths:
  /api/v4/groups:
    get:
      description: Get a groups list
      produces:
        - application/json
      parameters:
        - in: query
          name: statistics
          description: Include project statistics
          type: boolean
          default: false
          required: false
        - in: query
          name: archived
          description: Limit by archived status
          type: boolean
          required: false
        - in: query
          name: skip_groups
          description: Array of group ids to exclude from list
          type: array
          items:
            type: integer
            format: int32
          required: false
        - in: query
          name: all_available
          description: When `true`, returns all accessible groups. When `false`, returns only groups where the user is a member.
          type: boolean
          required: false
        - in: query
          name: visibility
          description: Limit by visibility
          type: string
          enum:
            - private
            - internal
            - public
          required: false
        - in: query
          name: search
          description: Search for a specific group
          type: string
          required: false
        - in: query
          name: owned
          description: Limit by owned by authenticated user
          type: boolean
          default: false
          required: false
        - in: query
          name: order_by
          description: Order by name, path, id or similarity if searching
          type: string
          default: name
          enum:
            - name
            - path
            - id
            - similarity
          required: false
        - in: query
          name: sort
          description: Sort by asc (ascending) or desc (descending)
          type: string
          default: asc
          enum:
            - asc
            - desc
          required: false
        - in: query
          name: min_access_level
          description: Minimum access level of authenticated user
          type: integer
          format: int32
          enum:
            - 10
            - 15
            - 20
            - 30
            - 40
            - 50
          required: false
        - in: query
          name: top_level_only
          description: Only include top-level groups
          type: boolean
          required: false
        - in: query
          name: marked_for_deletion_on
          description: Return groups that are marked for deletion on this date
          type: string
          format: date
          required: false
        - in: query
          name: active
          description: Limit by groups that are not archived and not marked for deletion
          type: boolean
          required: false
        - in: query
          name: repository_storage
          description: Filter by repository storage used by the group
          type: string
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get a groups list
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Group'
      tags:
        - groups
      operationId: getApiV4Groups
    post:
      description: Create a group. Available only for users who can create groups.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: postApiV4Groups
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4Groups'
      responses:
        '201':
          description: Create a group. Available only for users who can create groups.
          schema:
            $ref: '#/definitions/API_Entities_Group'
      tags:
        - groups
      operationId: postApiV4Groups
  /api/v4/groups/{id}:
    put:
      description: Update a group. Available only for users who can administrate groups.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - name: putApiV4GroupsId
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4GroupsId'
      responses:
        '200':
          description: Update a group. Available only for users who can administrate groups.
          schema:
            $ref: '#/definitions/API_Entities_Group'
      tags:
        - groups
      operationId: putApiV4GroupsId
    get:
      description: Get a single group, with containing projects.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
        - in: query
          name: with_custom_attributes
          description: Include custom attributes in the response
          type: boolean
          default: false
          required: false
        - in: query
          name: with_projects
          description: Omit project details
          type: boolean
          default: true
          required: false
      responses:
        '200':
          description: Get a single group, with containing projects.
          schema:
            $ref: '#/definitions/API_Entities_GroupDetail'
      tags:
        - groups
      operationId: getApiV4GroupsId
    delete:
      description: Remove a group.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
      responses:
        '204':
          description: Remove a group.
      tags:
        - groups
      operationId: deleteApiV4GroupsId
  /api/v4/groups/import:
    post:
      summary: Create a new group import
      description: This feature was introduced in GitLab 12.8
      produces:
        - application/json
      consumes:
        - multipart/form-data
      parameters:
        - in: formData
          name: path
          description: Group path
          type: string
          required: true
        - in: formData
          name: name
          description: Group name
          type: string
          required: true
        - in: formData
          name: file
          description: The group export file to be imported
          type: file
          required: true
        - in: formData
          name: parent_id
          description: The ID of the parent group that the group will be imported into. Defaults to the current user's namespace.
          type: integer
          format: int32
          required: false
        - in: formData
          name: organization_id
          description: 'The ID of the organization that the group will be part of. '
          type: integer
          format: int32
          default: {}
          required: false
      responses:
        '202':
          description: Create a new group import
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '503':
          description: Service unavailable
      tags:
        - group_import_and_export
      operationId: postApiV4GroupsImport
  /api/v4/groups/{id}/variables:
    get:
      description: Get a list of group-level variables
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: |-
            The ID of a group or URL-encoded path of the group owned by the authenticated
                  user
          type: string
          required: true
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get a list of group-level variables
          schema:
            $ref: '#/definitions/API_Entities_Ci_Variable'
      tags:
        - ci_variables
      operationId: getApiV4GroupsIdVariables
    post:
      description: Create a new variable in a group
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: |-
            The ID of a group or URL-encoded path of the group owned by the authenticated
                  user
          type: string
          required: true
        - name: postApiV4GroupsIdVariables
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4GroupsIdVariables'
      responses:
        '201':
          description: Create a new variable in a group
          schema:
            $ref: '#/definitions/API_Entities_Ci_Variable'
        '400':
          description: 400 Bad Request
      tags:
        - ci_variables
      operationId: postApiV4GroupsIdVariables
  /api/v4/groups/{id}/variables/{key}:
    get:
      description: Get the details of a group’s specific variable
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: |-
            The ID of a group or URL-encoded path of the group owned by the authenticated
                  user
          type: string
          required: true
        - in: path
          name: key
          description: The key of the variable
          type: string
          required: true
      responses:
        '200':
          description: Get the details of a group’s specific variable
          schema:
            $ref: '#/definitions/API_Entities_Ci_Variable'
        '404':
          description: Group Variable Not Found
      tags:
        - ci_variables
      operationId: getApiV4GroupsIdVariablesKey
    put:
      description: Update an existing variable from a group
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: |-
            The ID of a group or URL-encoded path of the group owned by the authenticated
                  user
          type: string
          required: true
        - in: path
          name: key
          description: The key of a variable
          type: string
          required: true
        - name: putApiV4GroupsIdVariablesKey
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4GroupsIdVariablesKey'
      responses:
        '200':
          description: Update an existing variable from a group
          schema:
            $ref: '#/definitions/API_Entities_Ci_Variable'
        '400':
          description: 400 Bad Request
        '404':
          description: Group Variable Not Found
      tags:
        - ci_variables
      operationId: putApiV4GroupsIdVariablesKey
    delete:
      description: Delete an existing variable from a group
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: |-
            The ID of a group or URL-encoded path of the group owned by the authenticated
                  user
          type: string
          required: true
        - in: path
          name: key
          description: The key of a variable
          type: string
          required: true
      responses:
        '204':
          description: Delete an existing variable from a group
          schema:
            $ref: '#/definitions/API_Entities_Ci_Variable'
        '404':
          description: Group Variable Not Found
      tags:
        - ci_variables
      operationId: deleteApiV4GroupsIdVariablesKey
  /api/v4/groups/{id}/members:
    get:
      description: Gets a list of group or project members viewable by the authenticated user.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The group ID
          type: string
          required: true
        - in: query
          name: query
          description: A query string to search for members
          type: string
          required: false
        - in: query
          name: user_ids
          description: Array of user ids to look up for membership
          type: array
          items:
            type: integer
            format: int32
          required: false
        - in: query
          name: skip_users
          description: Array of user ids to be skipped for membership
          type: array
          items:
            type: integer
            format: int32
          required: false
        - in: query
          name: show_seat_info
          description: Show seat information for members
          type: boolean
          required: false
        - in: query
          name: with_saml_identity
          description: List only members with linked SAML identity
          type: boolean
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Gets a list of group or project members viewable by the authenticated user.
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Member'
      tags:
        - members
      operationId: getApiV4GroupsIdMembers
    post:
      description: Adds a member to a group or project.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The group ID
          type: string
          required: true
        - name: postApiV4GroupsIdMembers
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4GroupsIdMembers'
      responses:
        '201':
          description: Adds a member to a group or project.
          schema:
            $ref: '#/definitions/API_Entities_Member'
      tags:
        - members
      operationId: postApiV4GroupsIdMembers
  /api/v4/groups/{id}/members/all:
    get:
      description: >-
        Gets a list of group or project members viewable by the authenticated user, including those who gained
        membership through ancestor group.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The group ID
          type: string
          required: true
        - in: query
          name: query
          description: A query string to search for members
          type: string
          required: false
        - in: query
          name: user_ids
          description: Array of user ids to look up for membership
          type: array
          items:
            type: integer
            format: int32
          required: false
        - in: query
          name: show_seat_info
          description: Show seat information for members
          type: boolean
          required: false
        - in: query
          name: state
          description: Filter results by member state
          type: string
          enum:
            - awaiting
            - active
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: >-
            Gets a list of group or project members viewable by the authenticated user, including those who gained
            membership through ancestor group.
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Member'
      tags:
        - members
      operationId: getApiV4GroupsIdMembersAll
  /api/v4/groups/{id}/members/{user_id}:
    get:
      description: Gets a member of a group or project.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The group ID
          type: string
          required: true
        - in: path
          name: user_id
          description: The user ID of the member
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Gets a member of a group or project.
          schema:
            $ref: '#/definitions/API_Entities_Member'
      tags:
        - members
      operationId: getApiV4GroupsIdMembersUserId
    put:
      description: Updates a member of a group or project.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The group ID
          type: string
          required: true
        - in: path
          name: user_id
          description: The user ID of the new member
          type: integer
          format: int32
          required: true
        - name: putApiV4GroupsIdMembersUserId
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4GroupsIdMembersUserId'
      responses:
        '200':
          description: Updates a member of a group or project.
          schema:
            $ref: '#/definitions/API_Entities_Member'
      tags:
        - members
      operationId: putApiV4GroupsIdMembersUserId
    delete:
      description: Removes a user from a group or project.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The group ID
          type: string
          required: true
        - in: path
          name: user_id
          description: The user ID of the member
          type: integer
          format: int32
          required: true
        - in: query
          name: skip_subresources
          description: >-
            Flag indicating if the deletion of direct memberships of the removed member in subgroups and projects should
            be skipped
          type: boolean
          default: false
          required: false
        - in: query
          name: unassign_issuables
          description: >-
            Flag indicating if the removed member should be unassigned from any issues or merge requests within given
            group or project
          type: boolean
          default: false
          required: false
      responses:
        '204':
          description: Removes a user from a group or project.
      tags:
        - members
      operationId: deleteApiV4GroupsIdMembersUserId
  /api/v4/groups/{id}/members/approve_all:
    post:
      description: Approves all pending members
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a group
          type: string
          required: true
      responses:
        '201':
          description: Approves all pending members
      tags:
        - members
      operationId: postApiV4GroupsIdMembersApproveAll
  /api/v4/projects/{id}/repository/branches:
    get:
      description: Get a project repository branches
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: search
          description: Return list of branches matching the search criteria
          type: string
          required: false
        - in: query
          name: regex
          description: Return list of branches matching the regex
          type: string
          required: false
        - in: query
          name: sort
          description: Return list of branches sorted by the given field
          type: string
          enum:
            - name_asc
            - updated_asc
            - updated_desc
          required: false
        - in: query
          name: page_token
          description: Name of branch to start the pagination from
          type: string
          required: false
      responses:
        '200':
          description: Get a project repository branches
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Branch'
        '404':
          description: 404 Project Not Found
      tags:
        - branches
      operationId: getApiV4ProjectsIdRepositoryBranches
    post:
      description: Create branch
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - name: postApiV4ProjectsIdRepositoryBranches
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdRepositoryBranches'
      responses:
        '201':
          description: Create branch
          schema:
            $ref: '#/definitions/API_Entities_Branch'
        '400':
          description: Failed to create branch
      tags:
        - branches
      operationId: postApiV4ProjectsIdRepositoryBranches
  /api/v4/projects/{id}/repository/branches/{branch}:
    head:
      description: Check if a branch exists
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: branch
          description: The name of the branch
          type: string
          required: true
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      tags:
        - branches
      operationId: headApiV4ProjectsIdRepositoryBranchesBranch
    get:
      description: Get a single repository branch
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: branch
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a single repository branch
          schema:
            $ref: '#/definitions/API_Entities_Branch'
        '404':
          description: Branch Not Found
      tags:
        - branches
      operationId: getApiV4ProjectsIdRepositoryBranchesBranch
    delete:
      description: Delete a branch
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: branch
          description: The name of the branch
          type: string
          required: true
      responses:
        '204':
          description: Delete a branch
        '404':
          description: Branch Not Found
      tags:
        - branches
      operationId: deleteApiV4ProjectsIdRepositoryBranchesBranch
  /api/v4/projects/{id}/repository/branches/{branch}/protect:
    put:
      description: Protect a single branch
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: branch
          description: The name of the branch
          type: string
          required: true
        - name: putApiV4ProjectsIdRepositoryBranchesBranchProtect
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdRepositoryBranchesBranchProtect'
      responses:
        '200':
          description: Protect a single branch
          schema:
            $ref: '#/definitions/API_Entities_Branch'
        '404':
          description: 404 Branch Not Found
      tags:
        - branches
      operationId: putApiV4ProjectsIdRepositoryBranchesBranchProtect
  /api/v4/projects/{id}/repository/branches/{branch}/unprotect:
    put:
      description: Unprotect a single branch
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: branch
          description: The name of the branch
          type: string
          required: true
      responses:
        '200':
          description: Unprotect a single branch
          schema:
            $ref: '#/definitions/API_Entities_Branch'
        '404':
          description: 404 Project Not Found
      tags:
        - branches
      operationId: putApiV4ProjectsIdRepositoryBranchesBranchUnprotect
  /api/v4/projects/{id}/jobs:
    get:
      description: Get a projects jobs
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: scope
          description: The scope of builds to show
          type: array
          items:
            type: string
            enum:
              - created
              - waiting_for_resource
              - preparing
              - waiting_for_callback
              - pending
              - running
              - success
              - failed
              - canceling
              - canceled
              - skipped
              - manual
              - scheduled
          required: false
          example:
            - pending
            - running
        - in: query
          name: ref
          description: The branch name (ref) to filter jobs by
          type: string
          required: false
          example: feature-branch
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get a projects jobs
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Ci_Job'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - ci_jobs
      operationId: getApiV4ProjectsIdJobs
  /api/v4/projects/{id}/jobs/{job_id}:
    get:
      description: Get a specific job of a project
      produces:
        - application/json
      parameters:
        - in: path
          name: job_id
          description: The ID of a job
          type: integer
          format: int32
          required: true
          example: 88
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a specific job of a project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Job'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - ci_jobs
      operationId: getApiV4ProjectsIdJobsJobId
  /api/v4/projects/{id}/jobs/{job_id}/trace:
    get:
      description: Get a trace of a specific job of a project
      produces:
        - application/json
      parameters:
        - in: path
          name: job_id
          description: The ID of a job
          type: integer
          format: int32
          required: true
          example: 88
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a trace of a specific job of a project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Job'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - ci_jobs
      operationId: getApiV4ProjectsIdJobsJobIdTrace
  /api/v4/projects/{id}/jobs/{job_id}/cancel:
    post:
      description: Cancel a specific job of a project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: job_id
          description: The ID of a job
          type: integer
          format: int32
          required: true
          example: 88
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: postApiV4ProjectsIdJobsJobIdCancel
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdJobsJobIdCancel'
      responses:
        '201':
          description: Cancel a specific job of a project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Job'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - ci_jobs
      operationId: postApiV4ProjectsIdJobsJobIdCancel
  /api/v4/projects/{id}/jobs/{job_id}/retry:
    post:
      description: Retry a specific job of a project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: job_id
          description: The ID of a job
          type: integer
          format: int32
          required: true
          example: 88
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: postApiV4ProjectsIdJobsJobIdRetry
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdJobsJobIdRetry'
      responses:
        '201':
          description: Retry a specific job of a project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Job'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - ci_jobs
      operationId: postApiV4ProjectsIdJobsJobIdRetry
  /api/v4/projects/{id}/jobs/{job_id}/play:
    post:
      summary: Trigger an actionable job (manual, delayed, etc)
      description: This feature was added in GitLab 8.11
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: job_id
          description: The ID of a Job
          type: integer
          format: int32
          required: true
          example: 88
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: postApiV4ProjectsIdJobsJobIdPlay
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdJobsJobIdPlay'
      responses:
        '200':
          description: Trigger an actionable job (manual, delayed, etc)
          schema:
            $ref: '#/definitions/API_Entities_Ci_JobBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - ci_jobs
      operationId: postApiV4ProjectsIdJobsJobIdPlay
  /api/v4/projects/{id}/pipelines:
    get:
      summary: Get all Pipelines of the project
      description: This feature was introduced in GitLab 8.11.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: scope
          description: The scope of pipelines
          type: string
          enum:
            - running
            - pending
            - finished
            - branches
            - tags
          required: false
          example: pending
        - in: query
          name: status
          description: The status of pipelines
          type: string
          enum:
            - created
            - waiting_for_resource
            - preparing
            - waiting_for_callback
            - pending
            - running
            - success
            - failed
            - canceling
            - canceled
            - skipped
            - manual
            - scheduled
          required: false
          example: pending
        - in: query
          name: ref
          description: The ref of pipelines
          type: string
          required: false
          example: develop
        - in: query
          name: sha
          description: The sha of pipelines
          type: string
          required: false
          example: a91957a858320c0e17f3a0eca7cfacbff50ea29a
        - in: query
          name: yaml_errors
          description: Returns pipelines with invalid configurations
          type: boolean
          required: false
        - in: query
          name: username
          description: The username of the user who triggered pipelines
          type: string
          required: false
          example: root
        - in: query
          name: updated_before
          description: 'Return pipelines updated before the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
          example: '2015-12-24T15:51:21.880Z'
        - in: query
          name: updated_after
          description: 'Return pipelines updated after the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
          example: '2015-12-24T15:51:21.880Z'
        - in: query
          name: created_before
          description: 'Return pipelines created before the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
          example: '2015-12-24T15:51:21.880Z'
        - in: query
          name: created_after
          description: 'Return pipelines created after the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
          example: '2015-12-24T15:51:21.880Z'
        - in: query
          name: order_by
          description: Order pipelines
          type: string
          default: id
          enum:
            - id
            - status
            - ref
            - updated_at
            - user_id
          required: false
          example: status
        - in: query
          name: sort
          description: Sort pipelines
          type: string
          default: desc
          enum:
            - asc
            - desc
          required: false
          example: asc
        - in: query
          name: source
          description: The source of pipelines
          type: string
          enum:
            - unknown
            - push
            - web
            - trigger
            - schedule
            - api
            - external
            - pipeline
            - chat
            - webide
            - merge_request_event
            - external_pull_request_event
            - parent_pipeline
            - ondemand_dast_scan
            - ondemand_dast_validation
            - security_orchestration_policy
            - container_registry_push
            - duo_workflow
            - pipeline_execution_policy_schedule
            - dependency_management_security_update
          required: false
          example: push
        - in: query
          name: name
          description: Filter pipelines by name
          type: string
          required: false
          example: Build pipeline
      responses:
        '200':
          description: Get all Pipelines of the project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Ci_PipelineBasic'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      tags:
        - pipelines
      operationId: getApiV4ProjectsIdPipelines
  /api/v4/projects/{id}/pipeline:
    post:
      summary: Create a new pipeline
      description: This feature was introduced in GitLab 8.14
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - name: postApiV4ProjectsIdPipeline
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdPipeline'
      responses:
        '201':
          description: Create a new pipeline
          schema:
            $ref: '#/definitions/API_Entities_Ci_Pipeline'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - pipelines
      operationId: postApiV4ProjectsIdPipeline
  /api/v4/projects/{id}/pipelines/latest:
    get:
      summary: Gets the latest pipeline for the project branch
      description: This feature was introduced in GitLab 12.3
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: query
          name: ref
          description: Branch ref of pipeline. Uses project default branch if not specified.
          type: string
          required: false
          example: develop
      responses:
        '200':
          description: Gets the latest pipeline for the project branch
          schema:
            $ref: '#/definitions/API_Entities_Ci_PipelineWithMetadata'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - pipelines
      operationId: getApiV4ProjectsIdPipelinesLatest
  /api/v4/projects/{id}/pipelines/{pipeline_id}:
    get:
      summary: Gets a specific pipeline for the project
      description: This feature was introduced in GitLab 8.11
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: path
          name: pipeline_id
          description: The pipeline ID
          type: integer
          format: int32
          required: true
          example: 18
      responses:
        '200':
          description: Gets a specific pipeline for the project
          schema:
            $ref: '#/definitions/API_Entities_Ci_PipelineWithMetadata'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - pipelines
      operationId: getApiV4ProjectsIdPipelinesPipelineId
    delete:
      summary: Deletes a pipeline
      description: This feature was introduced in GitLab 11.6
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: path
          name: pipeline_id
          description: The pipeline ID
          type: integer
          format: int32
          required: true
          example: 18
      responses:
        '204':
          description: Pipeline was deleted
        '403':
          description: Forbidden
      tags:
        - pipelines
      operationId: deleteApiV4ProjectsIdPipelinesPipelineId
  /api/v4/projects/{id}/pipelines/{pipeline_id}/retry:
    post:
      summary: Retry builds in the pipeline
      description: This feature was introduced in GitLab 8.11.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: path
          name: pipeline_id
          description: The pipeline ID
          type: integer
          format: int32
          required: true
          example: 18
      responses:
        '201':
          description: Retry builds in the pipeline
          schema:
            $ref: '#/definitions/API_Entities_Ci_Pipeline'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - pipelines
      operationId: postApiV4ProjectsIdPipelinesPipelineIdRetry
  /api/v4/projects/{id}/pipelines/{pipeline_id}/cancel:
    post:
      summary: Cancel all builds in the pipeline
      description: This feature was introduced in GitLab 8.11.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: path
          name: pipeline_id
          description: The pipeline ID
          type: integer
          format: int32
          required: true
          example: 18
      responses:
        '201':
          description: Cancel all builds in the pipeline
          schema:
            $ref: '#/definitions/API_Entities_Ci_Pipeline'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - pipelines
      operationId: postApiV4ProjectsIdPipelinesPipelineIdCancel
  /api/v4/projects/{id}/variables:
    get:
      description: Get project variables
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a project or URL-encoded NAMESPACE/PROJECT_NAME of the project owned by the authenticated user
          type: string
          required: true
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get project variables
          schema:
            $ref: '#/definitions/API_Entities_Ci_Variable'
      tags:
        - ci_variables
      operationId: getApiV4ProjectsIdVariables
    post:
      description: Create a new variable in a project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a project or URL-encoded NAMESPACE/PROJECT_NAME of the project owned by the authenticated user
          type: string
          required: true
        - name: postApiV4ProjectsIdVariables
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdVariables'
      responses:
        '201':
          description: Create a new variable in a project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Variable'
        '400':
          description: 400 Bad Request
      tags:
        - ci_variables
      operationId: postApiV4ProjectsIdVariables
  /api/v4/projects/{id}/variables/{key}:
    get:
      description: Get the details of a single variable from a project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a project or URL-encoded NAMESPACE/PROJECT_NAME of the project owned by the authenticated user
          type: string
          required: true
        - in: path
          name: key
          description: The key of a variable
          type: string
          required: true
        - in: query
          name: filter[environment_scope]
          description: The environment scope of a variable
          type: string
          required: false
      responses:
        '200':
          description: Get the details of a single variable from a project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Variable'
        '404':
          description: Variable Not Found
      tags:
        - ci_variables
      operationId: getApiV4ProjectsIdVariablesKey
    put:
      description: Update an existing variable from a project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a project or URL-encoded NAMESPACE/PROJECT_NAME of the project owned by the authenticated user
          type: string
          required: true
        - in: path
          name: key
          description: The key of a variable
          type: string
          required: true
        - name: putApiV4ProjectsIdVariablesKey
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdVariablesKey'
      responses:
        '200':
          description: Update an existing variable from a project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Variable'
        '404':
          description: Variable Not Found
      tags:
        - ci_variables
      operationId: putApiV4ProjectsIdVariablesKey
    delete:
      description: Delete an existing variable from a project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a project or URL-encoded NAMESPACE/PROJECT_NAME of the project owned by the authenticated user
          type: string
          required: true
        - in: path
          name: key
          description: The key of a variable
          type: string
          required: true
        - in: query
          name: filter[environment_scope]
          description: The environment scope of the variable
          type: string
          required: false
      responses:
        '204':
          description: Delete an existing variable from a project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Variable'
        '404':
          description: Variable Not Found
      tags:
        - ci_variables
      operationId: deleteApiV4ProjectsIdVariablesKey
  /api/v4/projects/{id}/repository/commits:
    get:
      description: Get a project repository commits
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: ref_name
          description: The name of a repository branch or tag, if not given the default branch is used
          type: string
          required: false
          example: v1.1.0
        - in: query
          name: since
          description: Only commits after or on this date will be returned
          type: string
          format: date-time
          required: false
          example: '2021-09-20T11:50:22.001'
        - in: query
          name: until
          description: Only commits before or on this date will be returned
          type: string
          format: date-time
          required: false
          example: '2021-09-20T11:50:22.001'
        - in: query
          name: path
          description: The file path
          type: string
          required: false
          example: README.md
        - in: query
          name: follow
          description: Follow file renames when filtering by path
          type: boolean
          required: false
        - in: query
          name: author
          description: Search commits by commit author
          type: string
          required: false
          example: John Smith
        - in: query
          name: all
          description: Every commit will be returned
          type: boolean
          required: false
        - in: query
          name: with_stats
          description: Stats about each commit will be added to the response
          type: boolean
          required: false
        - in: query
          name: first_parent
          description: Only include the first parent of merges
          type: boolean
          required: false
        - in: query
          name: order
          description: List commits in order
          type: string
          default: default
          enum:
            - default
            - topo
          required: false
        - in: query
          name: trailers
          description: Parse and include Git trailers for every commit
          type: boolean
          default: false
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get a project repository commits
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Commit'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
        - commits
      operationId: getApiV4ProjectsIdRepositoryCommits
    post:
      summary: Create a new commit
      description: This feature was introduced in GitLab 8.13
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - name: postApiV4ProjectsIdRepositoryCommits
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdRepositoryCommits'
      responses:
        '200':
          description: Create a new commit
          schema:
            $ref: '#/definitions/API_Entities_CommitDetail'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - commits
      operationId: postApiV4ProjectsIdRepositoryCommits
  /api/v4/projects/{id}/repository/commits/{sha}:
    get:
      description: Get a specific commit of a project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: sha
          description: A commit sha, or the name of a branch or tag
          type: string
          required: true
        - in: query
          name: stats
          description: Include commit stats
          type: boolean
          default: true
          required: false
      responses:
        '200':
          description: Get a specific commit of a project
          schema:
            $ref: '#/definitions/API_Entities_CommitDetail'
        '404':
          description: Not found
      tags:
        - commits
      operationId: getApiV4ProjectsIdRepositoryCommitsSha
  /api/v4/projects/{id}/repository/commits/{sha}/diff:
    get:
      description: Get the diff for a specific commit of a project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: sha
          description: A commit sha, or the name of a branch or tag
          type: string
          required: true
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: unidiff
          description: A diff in a Unified diff format
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get the diff for a specific commit of a project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Diff'
        '404':
          description: Not found
      tags:
        - commits
      operationId: getApiV4ProjectsIdRepositoryCommitsShaDiff
  /api/v4/projects/{id}/repository/commits/{sha}/refs:
    get:
      summary: Get all references a commit is pushed to
      description: This feature was introduced in GitLab 10.6
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: sha
          description: A commit sha
          type: string
          required: true
        - in: query
          name: type
          description: Scope
          type: string
          default: all
          enum:
            - branch
            - tag
            - all
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get all references a commit is pushed to
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_BasicRef'
        '404':
          description: Not found
      tags:
        - commits
      operationId: getApiV4ProjectsIdRepositoryCommitsShaRefs
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}/draft_notes:
    get:
      description: Get a list of merge request draft notes
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a project
          type: string
          required: true
        - in: path
          name: merge_request_iid
          description: The ID of a merge request
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a list of merge request draft notes
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_DraftNote'
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
        - draft_notes
      operationId: getApiV4ProjectsIdMergeRequestsMergeRequestIidDraftNotes
    post:
      description: Create a new draft note
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a project.
          type: string
          required: true
        - in: path
          name: merge_request_iid
          description: The ID of a merge request.
          type: integer
          format: int32
          required: true
        - name: postApiV4ProjectsIdMergeRequestsMergeRequestIidDraftNotes
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdMergeRequestsMergeRequestIidDraftNotes'
      responses:
        '201':
          description: Create a new draft note
          schema:
            $ref: '#/definitions/API_Entities_DraftNote'
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
        - draft_notes
      operationId: postApiV4ProjectsIdMergeRequestsMergeRequestIidDraftNotes
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}/draft_notes/{draft_note_id}:
    get:
      description: Get a single draft note
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a project
          type: string
          required: true
        - in: path
          name: merge_request_iid
          description: The ID of a merge request
          type: integer
          format: int32
          required: true
        - in: path
          name: draft_note_id
          description: The ID of a draft note
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a single draft note
          schema:
            $ref: '#/definitions/API_Entities_DraftNote'
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
        - draft_notes
      operationId: getApiV4ProjectsIdMergeRequestsMergeRequestIidDraftNotesDraftNoteId
    put:
      description: Modify an existing draft note
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a project.
          type: string
          required: true
        - in: path
          name: merge_request_iid
          description: The ID of a merge request.
          type: integer
          format: int32
          required: true
        - in: path
          name: draft_note_id
          description: The ID of a draft note
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdMergeRequestsMergeRequestIidDraftNotesDraftNoteId
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdMergeRequestsMergeRequestIidDraftNotesDraftNoteId'
      responses:
        '200':
          description: Modify an existing draft note
          schema:
            $ref: '#/definitions/API_Entities_DraftNote'
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
        - draft_notes
      operationId: putApiV4ProjectsIdMergeRequestsMergeRequestIidDraftNotesDraftNoteId
    delete:
      description: Delete a draft note
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a project
          type: string
          required: true
        - in: path
          name: merge_request_iid
          description: The ID of a merge request
          type: integer
          format: int32
          required: true
        - in: path
          name: draft_note_id
          description: The ID of a draft note
          type: integer
          format: int32
          required: true
      responses:
        '204':
          description: Unauthorized
        '404':
          description: Not found
      tags:
        - draft_notes
      operationId: deleteApiV4ProjectsIdMergeRequestsMergeRequestIidDraftNotesDraftNoteId
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}/draft_notes/bulk_publish:
    post:
      description: Bulk publish all pending draft notes
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID of a project
          type: string
          required: true
        - in: path
          name: merge_request_iid
          description: The ID of a merge request
          type: integer
          format: int32
          required: true
      responses:
        '204':
          description: Bulk publish all pending draft notes
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
        - draft_notes
      operationId: postApiV4ProjectsIdMergeRequestsMergeRequestIidDraftNotesBulkPublish
  /api/v4/projects/{id}/repository/files/{file_path}/blame:
    head:
      description: Get blame file metadata from repository
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: file_path
          description: The URL-encoded path to the file.
          type: string
          required: true
          example: lib%2Fclass%2Erb
        - in: query
          name: ref
          description: The name of branch, tag or commit
          type: string
          required: true
          example: main
      responses:
        '200':
          description: Get blame file metadata from repository
      tags:
        - files
      operationId: headApiV4ProjectsIdRepositoryFilesFilePathBlame
    get:
      description: Get blame file from the repository
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: file_path
          description: The URL-encoded path to the file.
          type: string
          required: true
          example: lib%2Fclass%2Erb
        - in: query
          name: ref
          description: The name of branch, tag or commit
          type: string
          required: true
          example: main
        - in: query
          name: range[start]
          description: The first line of the range to blame
          type: integer
          format: int32
          minimum: 1
          required: true
        - in: query
          name: range[end]
          description: The last line of the range to blame
          type: integer
          format: int32
          minimum: 1
          required: true
      responses:
        '200':
          description: Get blame file from the repository
          schema:
            $ref: '#/definitions/API_Entities_BlameRange'
      tags:
        - files
      operationId: getApiV4ProjectsIdRepositoryFilesFilePathBlame
  /api/v4/projects/{id}/repository/files/{file_path}/raw:
    get:
      description: Get raw file contents from the repository
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: file_path
          description: The URL-encoded path to the file.
          type: string
          required: true
          example: lib%2Fclass%2Erb
        - in: query
          name: ref
          description: The name of branch, tag or commit
          type: string
          required: false
          example: main
        - in: query
          name: lfs
          description: Retrieve binary data for a file that is an lfs pointer
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get raw file contents from the repository
          schema:
            type: file
      tags:
        - files
      operationId: getApiV4ProjectsIdRepositoryFilesFilePathRaw
  /api/v4/projects/{id}/repository/files/{file_path}:
    head:
      description: Get file metadata from repository
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: file_path
          description: The URL-encoded path to the file.
          type: string
          required: true
          example: lib%2Fclass%2Erb
        - in: query
          name: ref
          description: The name of branch, tag or commit
          type: string
          required: true
          example: main
      responses:
        '200':
          description: Get file metadata from repository
      tags:
        - files
      operationId: headApiV4ProjectsIdRepositoryFilesFilePath
    get:
      description: Get a file from the repository
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: file_path
          description: The URL-encoded path to the file.
          type: string
          required: true
          example: lib%2Fclass%2Erb
        - in: query
          name: ref
          description: The name of branch, tag or commit
          type: string
          required: true
          example: main
      responses:
        '200':
          description: Get a file from the repository
      tags:
        - files
      operationId: getApiV4ProjectsIdRepositoryFilesFilePath
    post:
      description: Create new file in repository
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: file_path
          description: The URL-encoded path to the file.
          type: string
          required: true
          example: lib%2Fclass%2Erb
        - name: postApiV4ProjectsIdRepositoryFilesFilePath
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdRepositoryFilesFilePath'
      responses:
        '201':
          description: Create new file in repository
      tags:
        - files
      operationId: postApiV4ProjectsIdRepositoryFilesFilePath
    put:
      description: Update existing file in repository
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: file_path
          description: The URL-encoded path to the file.
          type: string
          required: true
          example: lib%2Fclass%2Erb
        - name: putApiV4ProjectsIdRepositoryFilesFilePath
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdRepositoryFilesFilePath'
      responses:
        '200':
          description: Update existing file in repository
      tags:
        - files
      operationId: putApiV4ProjectsIdRepositoryFilesFilePath
    delete:
      description: Delete an existing file in repository
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: file_path
          description: The URL-encoded path to the file.
          type: string
          required: true
          example: lib%2Fclass%2Erb
        - in: query
          name: branch
          description: Name of the branch to commit into. To create a new branch, also provide `start_branch`.
          type: string
          required: true
          example: main
        - in: query
          name: commit_message
          description: Commit message
          type: string
          required: true
          example: Initial commit
        - in: query
          name: start_branch
          description: Name of the branch to start the new commit from
          type: string
          required: false
          example: main
        - in: query
          name: author_email
          description: The email of the author
          type: string
          required: false
          example: johndoe@example.com
        - in: query
          name: author_name
          description: The name of the author
          type: string
          required: false
          example: John Doe
        - in: query
          name: last_commit_id
          description: Last known file commit id
          type: string
          required: false
          example: 2695effb5807a22ff3d138d593fd856244e155e7
      responses:
        '204':
          description: Delete an existing file in repository
      tags:
        - files
      operationId: deleteApiV4ProjectsIdRepositoryFilesFilePath
  /api/v4/projects/{id}/integrations:
    get:
      summary: List all active integrations
      description: Get a list of all active integrations.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: List all active integrations
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_IntegrationBasic'
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
        - integrations
      operationId: getApiV4ProjectsIdIntegrations
  /api/v4/projects/{id}/integrations/apple-app-store:
    put:
      summary: Create/Edit Apple App Store integration
      description: Set Apple App Store integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsAppleAppStore
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsAppleAppStore'
      responses:
        '200':
          description: Create/Edit Apple App Store integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsAppleAppStore
  /api/v4/projects/{id}/integrations/asana:
    put:
      summary: Create/Edit Asana integration
      description: Set Asana integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsAsana
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsAsana'
      responses:
        '200':
          description: Create/Edit Asana integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsAsana
  /api/v4/projects/{id}/integrations/assembla:
    put:
      summary: Create/Edit Assembla integration
      description: Set Assembla integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsAssembla
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsAssembla'
      responses:
        '200':
          description: Create/Edit Assembla integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsAssembla
  /api/v4/projects/{id}/integrations/bamboo:
    put:
      summary: Create/Edit Bamboo integration
      description: Set Bamboo integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsBamboo
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsBamboo'
      responses:
        '200':
          description: Create/Edit Bamboo integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsBamboo
  /api/v4/projects/{id}/integrations/bugzilla:
    put:
      summary: Create/Edit Bugzilla integration
      description: Set Bugzilla integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsBugzilla
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsBugzilla'
      responses:
        '200':
          description: Create/Edit Bugzilla integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsBugzilla
  /api/v4/projects/{id}/integrations/buildkite:
    put:
      summary: Create/Edit Buildkite integration
      description: Set Buildkite integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsBuildkite
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsBuildkite'
      responses:
        '200':
          description: Create/Edit Buildkite integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsBuildkite
  /api/v4/projects/{id}/integrations/campfire:
    put:
      summary: Create/Edit Campfire integration
      description: Set Campfire integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsCampfire
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsCampfire'
      responses:
        '200':
          description: Create/Edit Campfire integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsCampfire
  /api/v4/projects/{id}/integrations/confluence:
    put:
      summary: Create/Edit Confluence integration
      description: Set Confluence integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsConfluence
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsConfluence'
      responses:
        '200':
          description: Create/Edit Confluence integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsConfluence
  /api/v4/projects/{id}/integrations/custom-issue-tracker:
    put:
      summary: Create/Edit Custom Issue Tracker integration
      description: Set Custom Issue Tracker integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsCustomIssueTracker
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsCustomIssueTracker'
      responses:
        '200':
          description: Create/Edit Custom Issue Tracker integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsCustomIssueTracker
  /api/v4/projects/{id}/integrations/datadog:
    put:
      summary: Create/Edit Datadog integration
      description: Set Datadog integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsDatadog
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsDatadog'
      responses:
        '200':
          description: Create/Edit Datadog integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsDatadog
  /api/v4/projects/{id}/integrations/diffblue-cover:
    put:
      summary: Create/Edit Diffblue Cover integration
      description: Set Diffblue Cover integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsDiffblueCover
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsDiffblueCover'
      responses:
        '200':
          description: Create/Edit Diffblue Cover integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsDiffblueCover
  /api/v4/projects/{id}/integrations/discord:
    put:
      summary: Create/Edit Discord integration
      description: Set Discord integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsDiscord
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsDiscord'
      responses:
        '200':
          description: Create/Edit Discord integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsDiscord
  /api/v4/projects/{id}/integrations/drone-ci:
    put:
      summary: Create/Edit Drone Ci integration
      description: Set Drone Ci integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsDroneCi
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsDroneCi'
      responses:
        '200':
          description: Create/Edit Drone Ci integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsDroneCi
  /api/v4/projects/{id}/integrations/emails-on-push:
    put:
      summary: Create/Edit Emails On Push integration
      description: Set Emails On Push integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsEmailsOnPush
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsEmailsOnPush'
      responses:
        '200':
          description: Create/Edit Emails On Push integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsEmailsOnPush
  /api/v4/projects/{id}/integrations/external-wiki:
    put:
      summary: Create/Edit External Wiki integration
      description: Set External Wiki integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsExternalWiki
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsExternalWiki'
      responses:
        '200':
          description: Create/Edit External Wiki integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsExternalWiki
  /api/v4/projects/{id}/integrations/gitlab-slack-application:
    put:
      summary: Create/Edit Gitlab Slack Application integration
      description: Set Gitlab Slack Application integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsGitlabSlackApplication
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsGitlabSlackApplication'
      responses:
        '200':
          description: Create/Edit Gitlab Slack Application integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsGitlabSlackApplication
  /api/v4/projects/{id}/integrations/google-play:
    put:
      summary: Create/Edit Google Play integration
      description: Set Google Play integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsGooglePlay
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsGooglePlay'
      responses:
        '200':
          description: Create/Edit Google Play integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsGooglePlay
  /api/v4/projects/{id}/integrations/hangouts-chat:
    put:
      summary: Create/Edit Hangouts Chat integration
      description: Set Hangouts Chat integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsHangoutsChat
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsHangoutsChat'
      responses:
        '200':
          description: Create/Edit Hangouts Chat integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsHangoutsChat
  /api/v4/projects/{id}/integrations/harbor:
    put:
      summary: Create/Edit Harbor integration
      description: Set Harbor integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsHarbor
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsHarbor'
      responses:
        '200':
          description: Create/Edit Harbor integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsHarbor
  /api/v4/projects/{id}/integrations/irker:
    put:
      summary: Create/Edit Irker integration
      description: Set Irker integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsIrker
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsIrker'
      responses:
        '200':
          description: Create/Edit Irker integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsIrker
  /api/v4/projects/{id}/integrations/jenkins:
    put:
      summary: Create/Edit Jenkins integration
      description: Set Jenkins integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsJenkins
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsJenkins'
      responses:
        '200':
          description: Create/Edit Jenkins integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsJenkins
  /api/v4/projects/{id}/integrations/jira:
    put:
      summary: Create/Edit Jira integration
      description: Set Jira integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsJira
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsJira'
      responses:
        '200':
          description: Create/Edit Jira integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsJira
  /api/v4/projects/{id}/integrations/jira-cloud-app:
    put:
      summary: Create/Edit Jira Cloud App integration
      description: Set Jira Cloud App integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsJiraCloudApp
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsJiraCloudApp'
      responses:
        '200':
          description: Create/Edit Jira Cloud App integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsJiraCloudApp
  /api/v4/projects/{id}/integrations/linear:
    put:
      summary: Create/Edit Linear integration
      description: Set Linear integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsLinear
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsLinear'
      responses:
        '200':
          description: Create/Edit Linear integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsLinear
  /api/v4/projects/{id}/integrations/matrix:
    put:
      summary: Create/Edit Matrix integration
      description: Set Matrix integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIntegrationsMatrix
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIntegrationsMatrix'
      responses:
        '200':
          description: Create/Edit Matrix integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - integrations
      operationId: putApiV4ProjectsIdIntegrationsMatrix
  /api/v4/projects/{id}/integrations/mattermost-slash-commands:
    put:
      summary: Create/Edit Mattermost Slash Commands integration
      description: Set Mattermost Slash Commands integration.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
[...]
