swagger: '2.0'
info:
  title: GitLab API
  version: v4
host: gitlab.com
produces:
  - application/json
securityDefinitions:
  access_token_header:
    type: apiKey
    name: PRIVATE-TOKEN
    in: header
  access_token_query:
    type: apiKey
    name: private_token
    in: query
paths:
  /api/v4/projects/{id}/jobs:
    get:
      description: Get a projects jobs
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: scope
          description: The scope of builds to show
          type: array
          items:
            type: string
            enum:
              - created
              - waiting_for_resource
              - preparing
              - waiting_for_callback
              - pending
              - running
              - success
              - failed
              - canceling
              - canceled
              - skipped
              - manual
              - scheduled
          required: false
          example:
            - pending
            - running
        - in: query
          name: ref
          description: The branch name (ref) to filter jobs by
          type: string
          required: false
          example: feature-branch
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get a projects jobs
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Ci_Job'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - ci_jobs
      operationId: getApiV4ProjectsIdJobs
  /api/v4/projects/{id}/jobs/{job_id}:
    get:
      description: Get a specific job of a project
      produces:
        - application/json
      parameters:
        - in: path
          name: job_id
          description: The ID of a job
          type: integer
          format: int32
          required: true
          example: 88
        - in: path
          name: id
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a specific job of a project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Job'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - ci_jobs
      operationId: getApiV4ProjectsIdJobsJobId
  /api/v4/projects/{id}/jobs/{job_id}/cancel:
    post:
      description: Cancel a specific job of a project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: job_id
          description: The ID of a job
          type: integer
          format: int32
          required: true
          example: 88
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: postApiV4ProjectsIdJobsJobIdCancel
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdJobsJobIdCancel'
      responses:
        '201':
          description: Cancel a specific job of a project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Job'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - ci_jobs
      operationId: postApiV4ProjectsIdJobsJobIdCancel
  /api/v4/projects/{id}/jobs/{job_id}/retry:
    post:
      description: Retry a specific job of a project
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: job_id
          description: The ID of a job
          type: integer
          format: int32
          required: true
          example: 88
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - name: postApiV4ProjectsIdJobsJobIdRetry
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdJobsJobIdRetry'
      responses:
        '201':
          description: Retry a specific job of a project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Job'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - ci_jobs
      operationId: postApiV4ProjectsIdJobsJobIdRetry
  /api/v4/projects/{id}/pipelines:
    get:
      summary: Get all Pipelines of the project
      description: This feature was introduced in GitLab 8.11.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: scope
          description: The scope of pipelines
          type: string
          enum:
            - running
            - pending
            - finished
            - branches
            - tags
          required: false
          example: pending
        - in: query
          name: status
          description: The status of pipelines
          type: string
          enum:
            - created
            - waiting_for_resource
            - preparing
            - waiting_for_callback
            - pending
            - running
            - success
            - failed
            - canceling
            - canceled
            - skipped
            - manual
            - scheduled
          required: false
          example: pending
        - in: query
          name: ref
          description: The ref of pipelines
          type: string
          required: false
          example: develop
        - in: query
          name: sha
          description: The sha of pipelines
          type: string
          required: false
          example: a91957a858320c0e17f3a0eca7cfacbff50ea29a
        - in: query
          name: yaml_errors
          description: Returns pipelines with invalid configurations
          type: boolean
          required: false
        - in: query
          name: username
          description: The username of the user who triggered pipelines
          type: string
          required: false
          example: root
        - in: query
          name: updated_before
          description: 'Return pipelines updated before the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
          example: '2015-12-24T15:51:21.880Z'
        - in: query
          name: updated_after
          description: 'Return pipelines updated after the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
          example: '2015-12-24T15:51:21.880Z'
        - in: query
          name: created_before
          description: 'Return pipelines created before the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
          example: '2015-12-24T15:51:21.880Z'
        - in: query
          name: created_after
          description: 'Return pipelines created after the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
          type: string
          format: date-time
          required: false
          example: '2015-12-24T15:51:21.880Z'
        - in: query
          name: order_by
          description: Order pipelines
          type: string
          default: id
          enum:
            - id
            - status
            - ref
            - updated_at
            - user_id
          required: false
          example: status
        - in: query
          name: sort
          description: Sort pipelines
          type: string
          default: desc
          enum:
            - asc
            - desc
          required: false
          example: asc
        - in: query
          name: source
          description: The source of pipelines
          type: string
          enum:
            - unknown
            - push
            - web
            - trigger
            - schedule
            - api
            - external
            - pipeline
            - chat
            - webide
            - merge_request_event
            - external_pull_request_event
            - parent_pipeline
            - ondemand_dast_scan
            - ondemand_dast_validation
            - security_orchestration_policy
            - container_registry_push
            - duo_workflow
            - pipeline_execution_policy_schedule
            - dependency_management_security_update
          required: false
          example: push
        - in: query
          name: name
          description: Filter pipelines by name
          type: string
          required: false
          example: Build pipeline
      responses:
        '200':
          description: Get all Pipelines of the project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Ci_PipelineBasic'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      tags:
        - pipelines
      operationId: getApiV4ProjectsIdPipelines
  /api/v4/projects/{id}/pipeline:
    post:
      summary: Create a new pipeline
      description: This feature was introduced in GitLab 8.14
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - name: postApiV4ProjectsIdPipeline
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdPipeline'
      responses:
        '201':
          description: Create a new pipeline
          schema:
            $ref: '#/definitions/API_Entities_Ci_Pipeline'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - pipelines
      operationId: postApiV4ProjectsIdPipeline
  /api/v4/projects/{id}/pipelines/latest:
    get:
      summary: Gets the latest pipeline for the project branch
      description: This feature was introduced in GitLab 12.3
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: query
          name: ref
          description: Branch ref of pipeline. Uses project default branch if not specified.
          type: string
          required: false
          example: develop
      responses:
        '200':
          description: Gets the latest pipeline for the project branch
          schema:
            $ref: '#/definitions/API_Entities_Ci_PipelineWithMetadata'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - pipelines
      operationId: getApiV4ProjectsIdPipelinesLatest
  /api/v4/projects/{id}/pipelines/{pipeline_id}:
    get:
      summary: Gets a specific pipeline for the project
      description: This feature was introduced in GitLab 8.11
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: path
          name: pipeline_id
          description: The pipeline ID
          type: integer
          format: int32
          required: true
          example: 18
      responses:
        '200':
          description: Gets a specific pipeline for the project
          schema:
            $ref: '#/definitions/API_Entities_Ci_PipelineWithMetadata'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - pipelines
      operationId: getApiV4ProjectsIdPipelinesPipelineId
    delete:
      summary: Deletes a pipeline
      description: This feature was introduced in GitLab 11.6
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: path
          name: pipeline_id
          description: The pipeline ID
          type: integer
          format: int32
          required: true
          example: 18
      responses:
        '204':
          description: Pipeline was deleted
        '403':
          description: Forbidden
      tags:
        - pipelines
      operationId: deleteApiV4ProjectsIdPipelinesPipelineId
  /api/v4/projects/{id}/pipelines/{pipeline_id}/retry:
    post:
      summary: Retry builds in the pipeline
      description: This feature was introduced in GitLab 8.11.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: path
          name: pipeline_id
          description: The pipeline ID
          type: integer
          format: int32
          required: true
          example: 18
      responses:
        '201':
          description: Retry builds in the pipeline
          schema:
            $ref: '#/definitions/API_Entities_Ci_Pipeline'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - pipelines
      operationId: postApiV4ProjectsIdPipelinesPipelineIdRetry
  /api/v4/projects/{id}/pipelines/{pipeline_id}/cancel:
    post:
      summary: Cancel all builds in the pipeline
      description: This feature was introduced in GitLab 8.11.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID or URL-encoded path
          type: string
          required: true
          example: 11
        - in: path
          name: pipeline_id
          description: The pipeline ID
          type: integer
          format: int32
          required: true
          example: 18
      responses:
        '201':
          description: Cancel all builds in the pipeline
          schema:
            $ref: '#/definitions/API_Entities_Ci_Pipeline'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - pipelines
      operationId: postApiV4ProjectsIdPipelinesPipelineIdCancel
  /api/v4/projects/{id}/repository/commits:
    get:
      description: Get a project repository commits
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: ref_name
          description: The name of a repository branch or tag, if not given the default branch is used
          type: string
          required: false
          example: v1.1.0
        - in: query
          name: since
          description: Only commits after or on this date will be returned
          type: string
          format: date-time
          required: false
          example: '2021-09-20T11:50:22.001'
        - in: query
          name: until
          description: Only commits before or on this date will be returned
          type: string
          format: date-time
          required: false
          example: '2021-09-20T11:50:22.001'
        - in: query
          name: path
          description: The file path
          type: string
          required: false
          example: README.md
        - in: query
          name: follow
          description: Follow file renames when filtering by path
          type: boolean
          required: false
        - in: query
          name: author
          description: Search commits by commit author
          type: string
          required: false
          example: John Smith
        - in: query
          name: all
          description: Every commit will be returned
          type: boolean
          required: false
        - in: query
          name: with_stats
          description: Stats about each commit will be added to the response
          type: boolean
          required: false
        - in: query
          name: first_parent
          description: Only include the first parent of merges
          type: boolean
          required: false
        - in: query
          name: order
          description: List commits in order
          type: string
          default: default
          enum:
            - default
            - topo
          required: false
        - in: query
          name: trailers
          description: Parse and include Git trailers for every commit
          type: boolean
          default: false
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
      responses:
        '200':
          description: Get a project repository commits
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Commit'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
        - commits
      operationId: getApiV4ProjectsIdRepositoryCommits
    post:
      summary: Create a new commit
      description: This feature was introduced in GitLab 8.13
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - name: postApiV4ProjectsIdRepositoryCommits
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdRepositoryCommits'
      responses:
        '200':
          description: Create a new commit
          schema:
            $ref: '#/definitions/API_Entities_CommitDetail'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
        - commits
      operationId: postApiV4ProjectsIdRepositoryCommits
  /api/v4/projects/{id}/repository/commits/{sha}:
    get:
      description: Get a specific commit of a project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: sha
          description: A commit sha, or the name of a branch or tag
          type: string
          required: true
        - in: query
          name: stats
          description: Include commit stats
          type: boolean
          default: true
          required: false
      responses:
        '200':
          description: Get a specific commit of a project
          schema:
            $ref: '#/definitions/API_Entities_CommitDetail'
        '404':
          description: Not found
      tags:
        - commits
      operationId: getApiV4ProjectsIdRepositoryCommitsSha
  /api/v4/projects/{id}/repository/commits/{sha}/diff:
    get:
      description: Get the diff for a specific commit of a project
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: sha
          description: A commit sha, or the name of a branch or tag
          type: string
          required: true
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: unidiff
          description: A diff in a Unified diff format
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get the diff for a specific commit of a project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Diff'
        '404':
          description: Not found
      tags:
        - commits
      operationId: getApiV4ProjectsIdRepositoryCommitsShaDiff
  /api/v4/projects/{id}/repository/files/{file_path}/raw:
    get:
      description: Get raw file contents from the repository
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The project ID
          type: string
          required: true
          example: gitlab-org/gitlab
        - in: path
          name: file_path
          description: The URL-encoded path to the file.
          type: string
          required: true
          example: lib%2Fclass%2Erb
        - in: query
          name: ref
          description: The name of branch, tag or commit
          type: string
          required: false
          example: main
        - in: query
          name: lfs
          description: Retrieve binary data for a file that is an lfs pointer
          type: boolean
          default: false
          required: false
      responses:
        '200':
          description: Get raw file contents from the repository
          schema:
            type: file
      tags:
        - files
      operationId: getApiV4ProjectsIdRepositoryFilesFilePathRaw
  /api/v4/projects/{id}/issues:
    get:
      description: Get a list of project issues
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: query
          name: with_labels_details
          description: Return titles of labels and other details
          type: boolean
          default: false
          required: false
        - in: query
          name: state
          description: Return opened, closed, or all issues
          type: string
          default: all
          enum:
            - opened
            - closed
            - all
          required: false
        - in: query
          name: closed_by_id
          description: Return issues which were closed by the user with the given ID.
          type: integer
          format: int32
          required: false
        - in: query
          name: order_by
          description: >-
            Return issues ordered by `created_at`, `due_date`, `label_priority`, `milestone_due`, `popularity`,
            `priority`, `relative_position`, `title`, or `updated_at` fields.
          type: string
          default: created_at
          enum:
            - created_at
            - due_date
            - label_priority
            - milestone_due
            - popularity
            - priority
            - relative_position
            - title
            - updated_at
            - weight
          required: false
        - in: query
          name: sort
          description: Return issues sorted in `asc` or `desc` order.
          type: string
          default: desc
          enum:
            - asc
            - desc
          required: false
        - in: query
          name: due_date
          description: >-
            Return issues that have no due date (`0`), or whose due date is this week, this month, between two weeks ago
            and next month, or which are overdue. Accepts: `overdue`, `week`, `month`,
            `next_month_and_previous_two_weeks`, `0`
          type: string
          enum:
            - '0'
            - any
            - today
            - tomorrow
            - overdue
            - week
            - month
            - next_month_and_previous_two_weeks
            - ''
          required: false
        - in: query
          name: issue_type
          description: 'The type of the issue. Accepts: issue, incident, test_case, requirement, task, ticket'
          type: string
          enum:
            - issue
            - incident
            - test_case
            - requirement
            - task
            - ticket
          required: false
        - in: query
          name: labels
          description: Comma-separated list of label names
          type: array
          items:
            type: string
          required: false
        - in: query
          name: milestone
          description: Milestone title
          type: string
          required: false
        - in: query
          name: milestone_id
          description: >-
            Return issues assigned to milestones with the specified timebox value ("Any", "None", "Upcoming" or
            "Started")
          type: string
          enum:
            - Any
            - None
            - Upcoming
            - Started
          required: false
        - in: query
          name: iids
          description: The IID array of issues
          type: array
          items:
            type: integer
            format: int32
          required: false
        - in: query
          name: search
          description: Search issues for text present in the title, description, or any combination of these
          type: string
          required: false
        - in: query
          name: in
          description: '`title`, `description`, or a string joining them with comma'
          type: string
          required: false
        - in: query
          name: author_id
          description: Return issues which are authored by the user with the given ID
          type: integer
          format: int32
          required: false
        - in: query
          name: author_username
          description: Return issues which are authored by the user with the given username
          type: string
          required: false
        - in: query
          name: assignee_id
          description: Return issues which are assigned to the user with the given ID
          type: integer
          format: int32
          required: false
        - in: query
          name: assignee_username
          description: Return issues which are assigned to the user with the given username
          type: array
          items:
            type: string
          required: false
        - in: query
          name: created_after
          description: Return issues created after the specified time
          type: string
          format: date-time
          required: false
        - in: query
          name: created_before
          description: Return issues created before the specified time
          type: string
          format: date-time
          required: false
        - in: query
          name: updated_after
          description: Return issues updated after the specified time
          type: string
          format: date-time
          required: false
        - in: query
          name: updated_before
          description: Return issues updated before the specified time
          type: string
          format: date-time
          required: false
        - in: query
          name: not[labels]
          description: Comma-separated list of label names
          type: array
          items:
            type: string
          required: false
        - in: query
          name: not[milestone]
          description: Milestone title
          type: string
          required: false
        - in: query
          name: not[milestone_id]
          description: >-
            Return issues assigned to milestones without the specified timebox value ("Any", "None", "Upcoming" or
            "Started")
          type: string
          enum:
            - Any
            - None
            - Upcoming
            - Started
          required: false
        - in: query
          name: not[iids]
          description: The IID array of issues
          type: array
          items:
            type: integer
            format: int32
          required: false
        - in: query
          name: not[author_id]
          description: Return issues which are not authored by the user with the given ID
          type: integer
          format: int32
          required: false
        - in: query
          name: not[author_username]
          description: Return issues which are not authored by the user with the given username
          type: string
          required: false
        - in: query
          name: not[assignee_id]
          description: Return issues which are not assigned to the user with the given ID
          type: integer
          format: int32
          required: false
        - in: query
          name: not[assignee_username]
          description: Return issues which are not assigned to the user with the given username
          type: array
          items:
            type: string
          required: false
        - in: query
          name: not[weight]
          description: Return issues without the specified weight
          type: integer
          format: int32
          required: false
        - in: query
          name: not[iteration_id]
          description: Return issues which are not assigned to the iteration with the given ID
          type: integer
          format: int32
          required: false
        - in: query
          name: not[iteration_title]
          description: Return issues which are not assigned to the iteration with the given title
          type: string
          required: false
        - in: query
          name: scope
          description: 'Return issues for the given scope: `created_by_me`, `assigned_to_me` or `all`'
          type: string
          enum:
            - created-by-me
            - assigned-to-me
            - created_by_me
            - assigned_to_me
            - all
          required: false
        - in: query
          name: my_reaction_emoji
          description: Return issues reacted by the authenticated user by the given emoji
          type: string
          required: false
        - in: query
          name: confidential
          description: Filter confidential or public issues
          type: boolean
          required: false
        - in: query
          name: weight
          description: The weight of the issue
          type: integer
          format: int32
          required: false
        - in: query
          name: epic_id
          description: The ID of an epic associated with the issues
          type: integer
          format: int32
          required: false
        - in: query
          name: health_status
          description: 'The health status of the issue. Must be one of: on_track, needs_attention, at_risk, none, any'
          type: string
          enum:
            - on_track
            - needs_attention
            - at_risk
            - none
            - any
          required: false
        - in: query
          name: iteration_id
          description: Return issues which are assigned to the iteration with the given ID
          type: integer
          format: int32
          required: false
        - in: query
          name: iteration_title
          description: Return issues which are assigned to the iteration with the given title
          type: string
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: cursor
          description: Cursor for obtaining the next set of records
          type: string
          required: false
      responses:
        '200':
          description: Get a list of project issues
          schema:
            $ref: '#/definitions/API_Entities_Issue'
      tags:
        - projects
      operationId: getApiV4ProjectsIdIssues
    post:
      description: Create a new project issue
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - name: postApiV4ProjectsIdIssues
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdIssues'
      responses:
        '201':
          description: Create a new project issue
          schema:
            $ref: '#/definitions/API_Entities_Issue'
      tags:
        - projects
      operationId: postApiV4ProjectsIdIssues
  /api/v4/projects/{id}/issues/{issue_iid}:
    get:
      description: Get a single project issue
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: issue_iid
          description: The internal ID of a project issue
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get a single project issue
          schema:
            $ref: '#/definitions/API_Entities_Issue'
      tags:
        - projects
      operationId: getApiV4ProjectsIdIssuesIssueIid
    put:
      description: Update an existing issue
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: issue_iid
          description: The internal ID of a project issue
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdIssuesIssueIid
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdIssuesIssueIid'
      responses:
        '200':
          description: Update an existing issue
          schema:
            $ref: '#/definitions/API_Entities_Issue'
      tags:
        - projects
      operationId: putApiV4ProjectsIdIssuesIssueIid
    delete:
      description: Delete a project issue
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: issue_iid
          description: The internal ID of a project issue
          type: integer
          format: int32
          required: true
      responses:
        '204':
          description: Delete a project issue
      tags:
        - projects
      operationId: deleteApiV4ProjectsIdIssuesIssueIid
  /api/v4/projects/{id}/merge_requests:
    get:
      summary: List project merge requests
      description: Get all merge requests for this project.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project.
          type: string
          required: true
        - in: query
          name: author_id
          description: >-
            Returns merge requests created by the given user `id`. Mutually exclusive with `author_username`. Combine
            with `scope=all` or `scope=assigned_to_me`.
          type: integer
          format: int32
          required: false
        - in: query
          name: author_username
          description: Returns merge requests created by the given `username`. Mutually exclusive with `author_id`.
          type: string
          required: false
        - in: query
          name: assignee_id
          description: >-
            Returns merge requests assigned to the given user `id`. `None` returns unassigned merge requests. `Any`
            returns merge requests with an assignee.
          type: integer
          format: int32
          required: false
        - in: query
          name: assignee_username
          description: Returns merge requests created by the given `username`. Mutually exclusive with `author_id`.
          type: array
          items:
            type: string
          required: false
        - in: query
          name: reviewer_username
          description: >-
            Returns merge requests which have the user as a reviewer with the given `username`. `None` returns merge
            requests with no reviewers. `Any` returns merge requests with any reviewer. Mutually exclusive with
            `reviewer_id`. Introduced in GitLab 13.8.
          type: string
          required: false
        - in: query
          name: labels
          description: >-
            Returns merge requests matching a comma-separated list of labels. `None` lists all merge requests with no
            labels. `Any` lists all merge requests with at least one label. Predefined names are case-insensitive.
          type: array
          items:
            type: string
          required: false
        - in: query
          name: milestone
          description: >-
            Returns merge requests for a specific milestone. `None` returns merge requests with no milestone. `Any`
            returns merge requests that have an assigned milestone.
          type: string
          required: false
        - in: query
          name: my_reaction_emoji
          description: >-
            Returns merge requests reacted by the authenticated user by the given `emoji`. `None` returns issues not
            given a reaction. `Any` returns issues given at least one reaction.
          type: string
          required: false
        - in: query
          name: reviewer_id
          description: >-
            Returns merge requests which have the user as a reviewer with the given user `id`. `None` returns merge
            requests with no reviewers. `Any` returns merge requests with any reviewer. Mutually exclusive with
            `reviewer_username`.
          type: integer
          format: int32
          required: false
        - in: query
          name: state
          description: Returns `all` merge requests or just those that are `opened`, `closed`, `locked`, or `merged`.
          type: string
          default: all
          enum:
            - opened
            - closed
            - locked
            - merged
            - all
          required: false
        - in: query
          name: order_by
          description: >-
            Returns merge requests ordered by `created_at`, `label_priority`, `milestone_due`, `popularity`, `priority`,
            `title`, `updated_at` or `merged_at` fields. Introduced in GitLab 14.8.
          type: string
          default: created_at
          enum:
            - created_at
            - label_priority
            - milestone_due
            - popularity
            - priority
            - title
            - updated_at
            - merged_at
          required: false
        - in: query
          name: sort
          description: Returns merge requests sorted in `asc` or `desc` order.
          type: string
          default: desc
          enum:
            - asc
            - desc
          required: false
        - in: query
          name: with_labels_details
          description: >-
            If `true`, response returns more details for each label in labels field: `:name`,`:color`, `:description`,
            `:description_html`, `:text_color`
          type: boolean
          default: false
          required: false
        - in: query
          name: with_merge_status_recheck
          description: >-
            If `true`, this projection requests (but does not guarantee) that the `merge_status` field be recalculated
            asynchronously. Introduced in GitLab 13.0.
          type: boolean
          default: false
          required: false
        - in: query
          name: created_after
          description: Returns merge requests created on or after the given time. Expected in ISO 8601 format.
          type: string
          format: date-time
          required: false
          example: '2019-03-15T08:00:00Z'
        - in: query
          name: created_before
          description: Returns merge requests created on or before the given time. Expected in ISO 8601 format.
          type: string
          format: date-time
          required: false
          example: '2019-03-15T08:00:00Z'
        - in: query
          name: updated_after
          description: Returns merge requests updated on or after the given time. Expected in ISO 8601 format.
          type: string
          format: date-time
          required: false
          example: '2019-03-15T08:00:00Z'
        - in: query
          name: updated_before
          description: Returns merge requests updated on or before the given time. Expected in ISO 8601 format.
          type: string
          format: date-time
          required: false
          example: '2019-03-15T08:00:00Z'
        - in: query
          name: view
          description: If simple, returns the `iid`, URL, title, description, and basic state of merge request
          type: string
          enum:
            - simple
          required: false
        - in: query
          name: scope
          description: 'Returns merge requests for the given scope: `created_by_me`, `assigned_to_me`, `reviews_for_me` or `all`'
          type: string
          enum:
            - created-by-me
            - assigned-to-me
            - created_by_me
            - assigned_to_me
            - reviews_for_me
            - all
          required: false
        - in: query
          name: source_branch
          description: Returns merge requests with the given source branch
          type: string
          required: false
        - in: query
          name: source_project_id
          description: Returns merge requests with the given source project id
          type: integer
          format: int32
          required: false
        - in: query
          name: target_branch
          description: Returns merge requests with the given target branch
          type: string
          required: false
        - in: query
          name: search
          description: Search merge requests against their `title` and `description`.
          type: string
          required: false
        - in: query
          name: in
          description: Modify the scope of the search attribute. `title`, `description`, or a string joining them with comma.
          type: string
          required: false
          example: title,description
        - in: query
          name: wip
          description: >-
            Filter merge requests against their `wip` status. `yes` to return only draft merge requests, `no` to return
            non-draft merge requests.
          type: string
          enum:
            - 'yes'
            - 'no'
          required: false
        - in: query
          name: not[author_id]
          description: >-
            `<Negated>` Returns merge requests created by the given user `id`. Mutually exclusive with
            `author_username`. Combine with `scope=all` or `scope=assigned_to_me`.
          type: integer
          format: int32
          required: false
        - in: query
          name: not[author_username]
          description: '`<Negated>` Returns merge requests created by the given `username`. Mutually exclusive with `author_id`.'
          type: string
          required: false
        - in: query
          name: not[assignee_id]
          description: >-
            `<Negated>` Returns merge requests assigned to the given user `id`. `None` returns unassigned merge
            requests. `Any` returns merge requests with an assignee.
          type: integer
          format: int32
          required: false
        - in: query
          name: not[assignee_username]
          description: '`<Negated>` Returns merge requests created by the given `username`. Mutually exclusive with `author_id`.'
          type: array
          items:
            type: string
          required: false
        - in: query
          name: not[reviewer_username]
          description: >-
            `<Negated>` Returns merge requests which have the user as a reviewer with the given `username`. `None`
            returns merge requests with no reviewers. `Any` returns merge requests with any reviewer. Mutually exclusive
            with `reviewer_id`. Introduced in GitLab 13.8.
          type: string
          required: false
        - in: query
          name: not[labels]
          description: >-
            `<Negated>` Returns merge requests matching a comma-separated list of labels. `None` lists all merge
            requests with no labels. `Any` lists all merge requests with at least one label. Predefined names are
            case-insensitive.
          type: array
          items:
            type: string
          required: false
        - in: query
          name: not[milestone]
          description: >-
            `<Negated>` Returns merge requests for a specific milestone. `None` returns merge requests with no
            milestone. `Any` returns merge requests that have an assigned milestone.
          type: string
          required: false
        - in: query
          name: not[my_reaction_emoji]
          description: >-
            `<Negated>` Returns merge requests reacted by the authenticated user by the given `emoji`. `None` returns
            issues not given a reaction. `Any` returns issues given at least one reaction.
          type: string
          required: false
        - in: query
          name: not[reviewer_id]
          description: >-
            `<Negated>` Returns merge requests which have the user as a reviewer with the given user `id`. `None`
            returns merge requests with no reviewers. `Any` returns merge requests with any reviewer. Mutually exclusive
            with `reviewer_username`.
          type: integer
          format: int32
          required: false
        - in: query
          name: deployed_before
          description: Returns merge requests deployed before the given date/time. Expected in ISO 8601 format.
          type: string
          required: false
          example: '2019-03-15T08:00:00Z'
        - in: query
          name: deployed_after
          description: Returns merge requests deployed after the given date/time. Expected in ISO 8601 format
          type: string
          required: false
          example: '2019-03-15T08:00:00Z'
        - in: query
          name: environment
          description: Returns merge requests deployed to the given environment
          type: string
          required: false
          example: '2019-03-15T08:00:00Z'
        - in: query
          name: approved
          description: >-
            Filters merge requests by their `approved` status. `yes` returns only approved merge requests. `no` returns
            only non-approved merge requests.
          type: string
          enum:
            - 'yes'
            - 'no'
          required: false
        - in: query
          name: merge_user_id
          description: >-
            Returns merge requests which have been merged by the user with the given user `id`. Mutually exclusive with
            `merge_user_username`.
          type: integer
          format: int32
          required: false
        - in: query
          name: merge_user_username
          description: >-
            Returns merge requests which have been merged by the user with the given `username`. Mutually exclusive with
            `merge_user_id`.
          type: string
          required: false
        - in: query
          name: approver_ids
          description: Return merge requests which have specified the users with the given IDs as an individual approver
          type: string
          required: false
        - in: query
          name: approved_by_ids
          description: Return merge requests which have been approved by the specified users with the given IDs
          type: string
          required: false
        - in: query
          name: approved_by_usernames
          description: |-
            Return merge requests which have been approved by the specified users with the given
                        usernames
          type: string
          required: false
        - in: query
          name: page
          description: Current page number
          type: integer
          format: int32
          default: 1
          required: false
          example: 1
        - in: query
          name: per_page
          description: Number of items per page
          type: integer
          format: int32
          default: 20
          required: false
          example: 20
        - in: query
          name: iids
          description: Returns the request having the given `iid`.
          type: array
          items:
            type: integer
            format: int32
          required: false
      responses:
        '200':
          description: List project merge requests
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_MergeRequestBasic'
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
        - merge_requests
      operationId: getApiV4ProjectsIdMergeRequests
    post:
      summary: Create merge request
      description: Create a new merge request.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project.
          type: string
          required: true
        - name: postApiV4ProjectsIdMergeRequests
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdMergeRequests'
      responses:
        '201':
          description: Create merge request
          schema:
            $ref: '#/definitions/API_Entities_MergeRequest'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '409':
          description: Conflict
        '422':
          description: Unprocessable entity
      tags:
        - merge_requests
      operationId: postApiV4ProjectsIdMergeRequests
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}:
    delete:
      summary: Delete a merge request
      description: 'Only for administrators and project owners. Deletes the merge request in question. '
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project.
          type: string
          required: true
        - in: path
          name: merge_request_iid
          description: The internal ID of the merge request.
          type: integer
          format: int32
          required: true
      responses:
        '204':
          description: Delete a merge request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '412':
          description: Precondition failed
      tags:
        - merge_requests
      operationId: deleteApiV4ProjectsIdMergeRequestsMergeRequestIid
    get:
      summary: Get single merge request
      description: >-
        Shows information about a single merge request. Note: the `changes_count` value in the response is a string, not
        an integer. This is because when an merge request has too many changes to display and store, it is capped at
        1,000. In that case, the API returns the string `"1000+"` for the changes count.
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project.
          type: string
          required: true
        - in: path
          name: merge_request_iid
          description: The internal ID of the merge request.
          type: integer
          format: int32
          required: true
        - in: query
          name: render_html
          description: If `true`, response includes rendered HTML for title and description.
          type: boolean
          required: false
        - in: query
          name: include_diverged_commits_count
          description: If `true`, response includes the commits behind the target branch.
          type: boolean
          required: false
        - in: query
          name: include_rebase_in_progress
          description: If `true`, response includes whether a rebase operation is in progress.
          type: boolean
          required: false
      responses:
        '200':
          description: Get single merge request
          schema:
            $ref: '#/definitions/API_Entities_MergeRequest'
        '404':
          description: Not found
      tags:
        - merge_requests
      operationId: getApiV4ProjectsIdMergeRequestsMergeRequestIid
    put:
      summary: Update merge request
      description: Updates an existing merge request. You can change the target branch, title, or even close the merge request.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project.
          type: string
          required: true
        - in: path
          name: merge_request_iid
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdMergeRequestsMergeRequestIid
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdMergeRequestsMergeRequestIid'
      responses:
        '200':
          description: Update merge request
          schema:
            $ref: '#/definitions/API_Entities_MergeRequest'
        '400':
          description: Bad request
        '404':
          description: Not found
        '409':
          description: Conflict
        '422':
          description: Unprocessable entity
      tags:
        - merge_requests
      operationId: putApiV4ProjectsIdMergeRequestsMergeRequestIid
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}/merge:
    put:
      summary: Merge a merge request
      description: Accept and merge changes submitted with the merge request using this API.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project.
          type: string
          required: true
        - in: path
          name: merge_request_iid
          type: integer
          format: int32
          required: true
        - name: putApiV4ProjectsIdMergeRequestsMergeRequestIidMerge
          in: body
          required: true
          schema:
            $ref: '#/definitions/putApiV4ProjectsIdMergeRequestsMergeRequestIidMerge'
      responses:
        '200':
          description: Merge a merge request
          schema:
            $ref: '#/definitions/API_Entities_MergeRequest'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '405':
          description: Method not allowed
        '409':
          description: Conflict
        '422':
          description: Unprocessable entity
      tags:
        - merge_requests
      operationId: putApiV4ProjectsIdMergeRequestsMergeRequestIidMerge
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}/approvals:
    get:
      description: List approvals for merge request
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - in: path
          name: merge_request_iid
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: List approvals for merge request
          schema:
            $ref: '#/definitions/API_Entities_MergeRequestApprovals'
        '404':
          description: Not found
      tags:
        - merge_request_approvals
      operationId: getApiV4ProjectsIdMergeRequestsMergeRequestIidApprovals
    post:
      summary: Change approval-related configuration
      description: Deprecated in 16.0. Use the merge request approvals API instead.
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: merge_request_iid
          description: The IID of a merge request
          type: integer
          format: int32
          required: true
        - name: postApiV4ProjectsIdMergeRequestsMergeRequestIidApprovals
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdMergeRequestsMergeRequestIidApprovals'
      responses:
        '201':
          description: Change approval-related configuration
          schema:
            $ref: '#/definitions/API_Entities_ApprovalState'
      tags:
        - merge_request_approvals
      operationId: postApiV4ProjectsIdMergeRequestsMergeRequestIidApprovals
      deprecated: true
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}/approve:
    post:
      description: Approve a merge request
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          type: integer
          format: int32
          required: true
        - in: path
          name: merge_request_iid
          type: integer
          format: int32
          required: true
        - name: postApiV4ProjectsIdMergeRequestsMergeRequestIidApprove
          in: body
          required: true
          schema:
            $ref: '#/definitions/postApiV4ProjectsIdMergeRequestsMergeRequestIidApprove'
      responses:
        '201':
          description: Approve a merge request
          schema:
            $ref: '#/definitions/API_Entities_MergeRequestApprovals'
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
        - merge_request_approvals
      operationId: postApiV4ProjectsIdMergeRequestsMergeRequestIidApprove
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}/approval_state:
    get:
      description: Get approval state of merge request
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          description: The ID or URL-encoded path of the project
          type: string
          required: true
        - in: path
          name: merge_request_iid
          description: The IID of a merge request
          type: integer
          format: int32
          required: true
      responses:
        '200':
          description: Get approval state of merge request
          schema:
            $ref: '#/definitions/API_Entities_MergeRequestApprovalState'
      tags:
        - merge_request_approvals
      operationId: getApiV4ProjectsIdMergeRequestsMergeRequestIidApprovalState
  /api/v4/projects/import:
    post:
      summary: Create a new project import
      description: This feature was introduced in GitLab 10.6.
      produces:
        - application/json
      consumes:
        - multipart/form-data
      parameters:
        - in: formData
          name: path
          description: The new project path and name
          type: string
          required: true
        - in: formData
          name: file
          description: The project export file to be imported
          type: file
          required: true
        - in: formData
          name: name
          description: The name of the project to be imported. Defaults to the path of the project if not provided.
          type: string
          required: false
        - in: formData
          name: namespace
          description: >-
            (deprecated) The ID or path of the namespace to import the project to. Defaults to the current user's
            namespace.
          type: string
          required: false
        - in: formData
          name: namespace_id
          description: The ID of the namespace that the project will be imported into. Defaults to the current user's namespace.
          type: integer
          format: int32
          required: false
          example: 1
        - in: formData
          name: namespace_path
          description: The path of the namespace that the project will be imported into. Defaults to the current user's namespace.
          type: string
          required: false
          example: new_path/gitlab
        - in: formData
          name: overwrite
          description: If there is a project in the same namespace and with the same name overwrite it
          type: boolean
          default: false
          required: false
        - in: formData
          name: override_params[description]
          description: The description of the project
          type: string
          required: false
        - in: formData
          name: override_params[build_git_strategy]
          description: The Git strategy. Defaults to `fetch`
          type: string
          enum:
            - fetch
            - clone
          required: false
        - in: formData
          name: override_params[build_timeout]
          description: Build timeout
          type: integer
          format: int32
          required: false
        - in: formData
          name: override_params[auto_cancel_pending_pipelines]
          description: Auto-cancel pending pipelines
          type: string
          enum:
            - disabled
            - enabled
          required: false
        - in: formData
          name: override_params[ci_config_path]
          description: The path to CI config file. Defaults to `.gitlab-ci.yml`
          type: string
          required: false
        - in: formData
          name: override_params[service_desk_enabled]
          description: Disable or enable the service desk
          type: boolean
          required: false
        - in: formData
          name: override_params[issues_enabled]
          description: Flag indication if the issue tracker is enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[merge_requests_enabled]
          description: Flag indication if merge requests are enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[wiki_enabled]
          description: Flag indication if the wiki is enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[jobs_enabled]
          description: Flag indication if jobs are enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[snippets_enabled]
          description: Flag indication if snippets are enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[issues_access_level]
          description: Issues access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[repository_access_level]
          description: Repository access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[merge_requests_access_level]
          description: Merge requests access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[forking_access_level]
          description: Forks access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[wiki_access_level]
          description: Wiki access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[builds_access_level]
          description: Builds access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[snippets_access_level]
          description: Snippets access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[package_registry_access_level]
          description: >-
            Controls visibility of the package registry. One of `disabled`, `private`, `enabled` or `public`. `private`
            will make the package registry accessible only to project members (reporter role and above). `enabled` will
            make the package registry accessible to everyone who has access to the project. `public` will make the
            package registry accessible to everyone. `disabled` will disable the package registry
          type: string
          enum:
            - disabled
            - private
            - enabled
            - public
          required: false
        - in: formData
          name: override_params[pages_access_level]
          description: Pages access level. One of `disabled`, `private`, `enabled` or `public`
          type: string
          enum:
            - disabled
            - private
            - enabled
            - public
          required: false
        - in: formData
          name: override_params[analytics_access_level]
          description: Analytics access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[container_registry_access_level]
          description: >-
            Controls visibility of the container registry. One of `disabled`, `private` or `enabled`. `private` will
            make the container registry accessible only to project members (reporter role and above). `enabled` will
            make the container registry accessible to everyone who has access to the project. `disabled` will disable
            the container registry
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[security_and_compliance_access_level]
          description: Security and compliance access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[releases_access_level]
          description: Releases access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[environments_access_level]
          description: Environments access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[feature_flags_access_level]
          description: Feature flags access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[infrastructure_access_level]
          description: Infrastructure access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[monitor_access_level]
          description: Monitor access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[model_experiments_access_level]
          description: Model experiments access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[model_registry_access_level]
          description: Model registry access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[emails_disabled]
          description: 'Deprecated: Use emails_enabled instead.'
          type: boolean
          required: false
        - in: formData
          name: override_params[emails_enabled]
          description: Enable email notifications
          type: boolean
          required: false
        - in: formData
          name: override_params[show_default_award_emojis]
          description: Show default award emojis
          type: boolean
          required: false
        - in: formData
          name: override_params[show_diff_preview_in_email]
          description: Include the code diff preview in merge request notification emails
          type: boolean
          required: false
        - in: formData
          name: override_params[warn_about_potentially_unwanted_characters]
          description: Warn about potentially unwanted characters
          type: boolean
          required: false
        - in: formData
          name: override_params[enforce_auth_checks_on_uploads]
          description: Enforce auth check on uploads
          type: boolean
          required: false
        - in: formData
          name: override_params[shared_runners_enabled]
          description: Flag indication if shared runners are enabled for that project
          type: boolean
          required: false
        - in: formData
          name: override_params[group_runners_enabled]
          description: Flag indication if group runners are enabled for that project
          type: boolean
          required: false
        - in: formData
          name: override_params[resource_group_default_process_mode]
          description: The process mode of the resource group
          type: string
          enum:
            - unordered
            - oldest_first
            - newest_first
            - newest_ready_first
          required: false
        - in: formData
          name: override_params[resolve_outdated_diff_discussions]
          description: Automatically resolve merge request diff threads on lines changed with a push
          type: boolean
          required: false
        - in: formData
          name: override_params[remove_source_branch_after_merge]
          description: Remove the source branch by default after merge
          type: boolean
          required: false
        - in: formData
          name: override_params[packages_enabled]
          description: 'Deprecated: Use :package_registry_access_level instead. Enable project packages feature'
          type: boolean
          required: false
        - in: formData
          name: override_params[container_registry_enabled]
          description: >-
            Deprecated: Use :container_registry_access_level instead. Flag indication if the container registry is
            enabled for that project
          type: boolean
          required: false
        - in: formData
          name: override_params[container_expiration_policy_attributes][cadence]
          description: Container expiration policy cadence for recurring job
          type: string
          required: false
        - in: formData
          name: override_params[container_expiration_policy_attributes][keep_n]
          description: Container expiration policy number of images to keep
          type: integer
          format: int32
          required: false
        - in: formData
          name: override_params[container_expiration_policy_attributes][older_than]
          description: Container expiration policy remove images older than value
          type: string
          required: false
        - in: formData
          name: override_params[container_expiration_policy_attributes][name_regex]
          description: Container expiration policy regex for image removal
          type: string
          required: false
        - in: formData
          name: override_params[container_expiration_policy_attributes][name_regex_keep]
          description: Container expiration policy regex for image retention
          type: string
          required: false
        - in: formData
          name: override_params[container_expiration_policy_attributes][enabled]
          description: Flag indication if container expiration policy is enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[lfs_enabled]
          description: Flag indication if Git LFS is enabled for that project
          type: boolean
          required: false
        - in: formData
          name: override_params[visibility]
          description: The visibility of the project.
          type: string
          enum:
            - private
            - internal
            - public
          required: false
        - in: formData
          name: override_params[public_builds]
          description: 'Deprecated: Use public_jobs instead.'
          type: boolean
          required: false
        - in: formData
          name: override_params[public_jobs]
          description: Perform public builds
          type: boolean
          required: false
        - in: formData
          name: override_params[request_access_enabled]
          description: Allow users to request member access
          type: boolean
          required: false
        - in: formData
          name: override_params[only_allow_merge_if_pipeline_succeeds]
          description: Only allow to merge if builds succeed
          type: boolean
          required: false
        - in: formData
          name: override_params[allow_merge_on_skipped_pipeline]
          description: Allow to merge if pipeline is skipped
          type: boolean
          required: false
        - in: formData
          name: override_params[only_allow_merge_if_all_discussions_are_resolved]
          description: Only allow to merge if all threads are resolved
          type: boolean
          required: false
        - in: formData
          name: override_params[tag_list]
          description: 'Deprecated: Use :topics instead'
          type: array
          items:
            type: string
          required: false
        - in: formData
          name: override_params[topics]
          description: The list of topics for a project
          type: array
          items:
            type: string
          required: false
        - in: formData
          name: override_params[avatar]
          description: Avatar image for project
          type: file
          required: false
        - in: formData
          name: override_params[printing_merge_request_link_enabled]
          description: Show link to create/view merge request when pushing from the command line
          type: boolean
          required: false
        - in: formData
          name: override_params[merge_method]
          description: The merge method used when merging merge requests
          type: string
          enum:
            - ff
            - rebase_merge
            - merge
          required: false
        - in: formData
          name: override_params[suggestion_commit_message]
          description: The commit message used to apply merge request suggestions
          type: string
          required: false
        - in: formData
          name: override_params[merge_commit_template]
          description: Template used to create merge commit message
          type: string
          required: false
        - in: formData
          name: override_params[squash_commit_template]
          description: Template used to create squash commit message
          type: string
          required: false
        - in: formData
          name: override_params[issue_branch_template]
          description: Template used to create a branch from an issue
          type: string
          required: false
        - in: formData
          name: override_params[auto_devops_enabled]
          description: Flag indication if Auto DevOps is enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[auto_devops_deploy_strategy]
          description: Auto Deploy strategy
          type: string
          enum:
            - continuous
            - manual
            - timed_incremental
          required: false
        - in: formData
          name: override_params[autoclose_referenced_issues]
          description: Flag indication if referenced issues auto-closing is enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[repository_storage]
          description: Which storage shard the repository is on. Available only to admins
          type: string
          required: false
        - in: formData
          name: override_params[squash_option]
          description: Squash default for project. One of `never`, `always`, `default_on`, or `default_off`.
          type: string
          enum:
            - never
            - always
            - default_on
            - default_off
          required: false
        - in: formData
          name: override_params[mr_default_target_self]
          description: Merge requests of this forked project targets itself by default
          type: boolean
          required: false
        - in: formData
          name: override_params[mr_default_title_template]
          description: Template used to generate the default merge request title. Maximum 100 characters.
          type: string
          required: false
        - in: formData
          name: override_params[only_allow_merge_if_all_status_checks_passed]
          description: Blocks merge requests from merging unless all status checks have passed
          type: boolean
          required: false
        - in: formData
          name: override_params[approvals_before_merge]
          description: How many approvers should approve merge request by default
          type: integer
          format: int32
          required: false
        - in: formData
          name: override_params[mirror]
          description: '[Deprecated] Enables pull mirroring in a project'
          type: boolean
          required: false
        - in: formData
          name: override_params[mirror_trigger_builds]
          description: '[Deprecated] Pull mirroring triggers builds'
          type: boolean
          required: false
        - in: formData
          name: override_params[external_authorization_classification_label]
          description: The classification label for the project
          type: string
          required: false
        - in: formData
          name: override_params[requirements_access_level]
          description: Requirements feature access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[prevent_merge_without_jira_issue]
          description: Require an associated issue from Jira
          type: boolean
          required: false
        - in: formData
          name: override_params[auto_duo_code_review_enabled]
          description: Enable automatic reviews by GitLab Duo on merge requests
          type: boolean
          required: false
        - in: formData
          name: override_params[duo_remote_flows_enabled]
          description: Enable GitLab Duo remote flows for this project
          type: boolean
          required: false
        - in: formData
          name: override_params[duo_sast_fp_detection_enabled]
          description: Enable GitLab Duo SAST false positive detection for this project
          type: boolean
          required: false
        - in: formData
          name: override_params[duo_secret_detection_fp_enabled]
          description: Enable GitLab Duo Secret Detection false positive detection for this project
          type: boolean
          required: false
        - in: formData
          name: override_params[duo_sast_vr_workflow_enabled]
          description: Enable GitLab Duo SAST vulnerability resolution workflow for this project
          type: boolean
          required: false
        - in: formData
          name: override_params[spp_repository_pipeline_access]
          description: Grant read-only access to security policy configurations for enforcement in linked CI/CD projects
          type: boolean
          required: false
        - in: formData
          name: override_params[merge_request_title_regex]
          description: The regex the Merge Request must adhere to
          type: string
          required: false
        - in: formData
          name: override_params[merge_request_title_regex_description]
          description: The description for the regex the Merge Request must adhere to
          type: string
          required: false
        - in: formData
          name: file.path
          description: Path to locally stored body (generated by Workhorse)
          type: string
          required: false
        - in: formData
          name: file.name
          description: Real filename as send in Content-Disposition (generated by Workhorse)
          type: string
          required: false
        - in: formData
          name: file.type
          description: Real content type as send in Content-Type (generated by Workhorse)
          type: string
          required: false
        - in: formData
          name: file.size
          description: Real size of file (generated by Workhorse)
          type: integer
          format: int32
          required: false
        - in: formData
          name: file.md5
          description: MD5 checksum of the file (generated by Workhorse)
          type: string
          required: false
        - in: formData
          name: file.sha1
          description: SHA1 checksum of the file (generated by Workhorse)
          type: string
          required: false
        - in: formData
          name: file.sha256
          description: SHA256 checksum of the file (generated by Workhorse)
          type: string
          required: false
        - in: formData
          name: file.etag
          description: Etag of the file (generated by Workhorse)
          type: string
          required: false
        - in: formData
          name: file.remote_id
          description: Remote_id of the file (generated by Workhorse)
          type: string
          required: false
        - in: formData
          name: file.remote_url
          description: Remote_url of the file (generated by Workhorse)
          type: string
          required: false
      responses:
        '201':
          description: Create a new project import
          schema:
            $ref: '#/definitions/API_Entities_ProjectImportStatus'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
        - project_import
      operationId: postApiV4ProjectsImport
  /api/v4/projects/remote-import:
    post:
      summary: Create a new project import using a remote object storage path
      description: This feature was introduced in GitLab 13.2.
      produces:
        - application/json
      consumes:
        - multipart/form-data
      parameters:
        - in: formData
          name: url
          description: The URL for the file.
          type: string
          required: true
        - in: formData
          name: path
          description: The new project path and name
          type: string
          required: true
        - in: formData
          name: name
          description: The name of the project to be imported. Defaults to the path of the project if not provided.
          type: string
          required: false
        - in: formData
          name: namespace
          description: >-
            (deprecated) The ID or path of the namespace to import the project to. Defaults to the current user's
            namespace.
          type: string
          required: false
        - in: formData
          name: namespace_id
          description: The ID of the namespace that the project will be imported into. Defaults to the current user's namespace.
          type: integer
          format: int32
          required: false
          example: 1
        - in: formData
          name: namespace_path
          description: The path of the namespace that the project will be imported into. Defaults to the current user's namespace.
          type: string
          required: false
          example: new_path/gitlab
        - in: formData
          name: overwrite
          description: If there is a project in the same namespace and with the same name overwrite it
          type: boolean
          default: false
          required: false
        - in: formData
          name: override_params[description]
          description: The description of the project
          type: string
          required: false
        - in: formData
          name: override_params[build_git_strategy]
          description: The Git strategy. Defaults to `fetch`
          type: string
          enum:
            - fetch
            - clone
          required: false
        - in: formData
          name: override_params[build_timeout]
          description: Build timeout
          type: integer
          format: int32
          required: false
        - in: formData
          name: override_params[auto_cancel_pending_pipelines]
          description: Auto-cancel pending pipelines
          type: string
          enum:
            - disabled
            - enabled
          required: false
        - in: formData
          name: override_params[ci_config_path]
          description: The path to CI config file. Defaults to `.gitlab-ci.yml`
          type: string
          required: false
        - in: formData
          name: override_params[service_desk_enabled]
          description: Disable or enable the service desk
          type: boolean
          required: false
        - in: formData
          name: override_params[issues_enabled]
          description: Flag indication if the issue tracker is enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[merge_requests_enabled]
          description: Flag indication if merge requests are enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[wiki_enabled]
          description: Flag indication if the wiki is enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[jobs_enabled]
          description: Flag indication if jobs are enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[snippets_enabled]
          description: Flag indication if snippets are enabled
          type: boolean
          required: false
        - in: formData
          name: override_params[issues_access_level]
          description: Issues access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[repository_access_level]
          description: Repository access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[merge_requests_access_level]
          description: Merge requests access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[forking_access_level]
          description: Forks access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[wiki_access_level]
          description: Wiki access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[builds_access_level]
          description: Builds access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[snippets_access_level]
          description: Snippets access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[package_registry_access_level]
          description: >-
            Controls visibility of the package registry. One of `disabled`, `private`, `enabled` or `public`. `private`
            will make the package registry accessible only to project members (reporter role and above). `enabled` will
            make the package registry accessible to everyone who has access to the project. `public` will make the
            package registry accessible to everyone. `disabled` will disable the package registry
          type: string
          enum:
            - disabled
            - private
            - enabled
            - public
          required: false
        - in: formData
          name: override_params[pages_access_level]
          description: Pages access level. One of `disabled`, `private`, `enabled` or `public`
          type: string
          enum:
            - disabled
            - private
            - enabled
            - public
          required: false
        - in: formData
          name: override_params[analytics_access_level]
          description: Analytics access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[container_registry_access_level]
          description: >-
            Controls visibility of the container registry. One of `disabled`, `private` or `enabled`. `private` will
            make the container registry accessible only to project members (reporter role and above). `enabled` will
            make the container registry accessible to everyone who has access to the project. `disabled` will disable
            the container registry
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[security_and_compliance_access_level]
          description: Security and compliance access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[releases_access_level]
          description: Releases access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[environments_access_level]
          description: Environments access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[feature_flags_access_level]
          description: Feature flags access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[infrastructure_access_level]
          description: Infrastructure access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[monitor_access_level]
          description: Monitor access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[model_experiments_access_level]
          description: Model experiments access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[model_registry_access_level]
          description: Model registry access level. One of `disabled`, `private` or `enabled`
          type: string
          enum:
            - disabled
            - private
            - enabled
          required: false
        - in: formData
          name: override_params[emails_disabled]
          description: 'Deprecated: Use emails_enabled instead.'
          type: boolean
          required: false
        - in: formData
          name: override_params[emails_enabled]
          description: Enable email notifications
          type: boolean
          required: false
        - in: formData
          name: override_params[show_default_award_emojis]
          description: Show default award emojis
          type: boolean
          required: false
        - in: formData
          name: override_params[show_diff_preview_in_email]
          description: Include the code diff preview in merge request notification emails
          type: boolean
          required: false
        - in: formData
          name: override_params[warn_about_potentially_unwanted_characters]
          description: Warn about potentially unwanted characters
          type: boolean
          required: false
        - in: formData
          name: override_params[enforce_auth_checks_on_uploads]
          description: Enforce auth check on uploads
          type: boolean
          required: false
        - in: formData
          name: override_params[shared_runners_enabled]
[...]
